# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv

# --- Django ---
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/static/

# --- Algoritmos y Datos (Si usas librerías científicas) ---
.ipynb_checkpoints
*.csv
*.log
*.plt

# --- Gráficos y Reportes ---
*.png
*.jpg
*.jpeg
*.pdf
# (Opcional: comenta lo anterior si quieres subir las gráficas de tu comparativa al repo)

# --- Entorno y Configuración ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Distribución / Empaquetado ---
dist/
build/
*.egg-info/